@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap');

.title {
    text-align: center;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Shrikhand', cursive;
}

h2 {
    margin-left: 20px;
}
p {
    font-weight: 400;
}

* {
    box-sizing: border-box;
}
/* Variables */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;

/* Header */

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    height: 50px;
    width: 100%;
    box-shadow: -1px 2px 6px grey inset;
}
.search {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 1.1rem;
}
input {
    border: transparent;
    background-color: #ededed;
    margin-left: 15px;
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 0.9rem;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    width: 100%;
    height: 17rem;
}
.title2 {
    text-align: center;
    font-weight: 900;
    font-size: 1rem;
    width: 80%;
}
/* Cards */ /* Cards */
.btn {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    background: linear-gradient( #FF79DA, #9356DC);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Roboto';
    border: transparent;
    box-shadow: 2px 2px 10px grey;
    margin-top: 20px;
    &:hover {
        font-size: 1.1rem;
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(199, 190, 190);
    border-radius: 20px;
    height: 4.5rem;
    margin: 30px;  
    background-color: #F2F2F2;
    cursor: pointer;
    &__p {
        font-weight: 700;
        margin-right: 40px;
    }
    &__number {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    }
    &:hover {
        background-color:#eeeeee;
    }       
}

/* Font Awesome */

.fa-mobile-alt {
    margin-right: 30px;
    opacity: 0.6;
}

.fa-list {
    margin-right: 30px;
    opacity: 0.6;
}

.fa-store {
    margin-right: 30px;
    opacity: 0.6;

}

/* Font Awesome */

/* Cards */ /* Cards */