/* Bouttons du Header */ 

.btn {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    background: linear-gradient( #FF79DA, #9356DC);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Roboto';
    border: transparent;
    box-shadow: 2px 2px 10px grey;
    margin-top: 20px;
    &:hover {
        background: linear-gradient( #eb70c8, #8a4ed3);
        box-shadow: none;
    }
    &--commander {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

/* Bouttons du Header */ 

/* Bouttons de la Partie Fonctionnements */ 

.btn2 {
    @extend %flex;
    box-shadow: 2px 2px 10px rgb(199, 190, 190);
    border-radius: 20px;
    height: 4.5rem;
    margin: 15px 20px; 
    padding-left: 60px; 
    background-color: $fond-clair;
    cursor: pointer;
    position: relative;
    .btn2__p {
        font-weight: 700;
        font-size: 0.9rem;
    }
    .btn2__number {
    @extend %flex-center; 
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: -10px; 
    background-color: $color-primary;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    }
    &:hover {
        background-color:rgba(187, 173, 173,0.4);        
    } 
    &:hover {
        .btn2__store {
            color: $color-primary;
        }
    } 
}

/* Bouttons de la Partie Fonctionnements */ 

