.heart__menu1 {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.5rem;
}
.heart__menu2 {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.5rem; 
}

@media only screen and (min-width: 1024px) {
    .heart__menu1{
        position: absolute;
        font-size: 2rem;
        right: 0px;
        top: 0px;
    }
    .heart__menu2 {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 2rem; 
    }
  
}
