.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px
}
@media only screen  and (min-width: 700px) {
    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen  and (min-width: 1024px) {
    .fonctionnement {
        text-align: center;
    }

    .fonctionnement_btn {
        display: flex;
        justify-content: space-evenly;
    }
}