
footer {
    background-color: #353535;
    padding-bottom: 1px;
}

footer h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 0;
    padding-top: 30px;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 30px;
}

li {
    margin: 5px;
}

li a {
    color: white;    
}

.fa-utensils {
    padding-right: 17px;
}

.fa-hands-helping {
    padding-right: 10px;
}

@media only screen  and (min-width: 700px) {
    footer h3 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 30px;
    }
}
