header {
    @extend %flex-center-column;
}

.title {
    text-align: center;
}
.localisation {
    @extend %flex-center;
    background-color: $fond-sombre;
    height: 50px;
    width: 100%;
    box-shadow: -1px 2px 6px grey inset;
}

.fa-search {
    visibility: hidden;
}
.search {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 1.1rem;
}
input {
    border: transparent;
    background-color: $fond-sombre;
    margin-left: 15px;
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 0.9rem;
}
.header {
    @extend %flex-center-column;
    background-color: $fond-clair;
    width: 100%;
    height: 17rem;
}
.title2 {
    text-align: center;
    font-weight: 900;
    font-size: 1rem;
    width: 80%;
}

.photo5 {
    display: none;
}



/* Header des autres menus */ /* Header des autres menus */
.title__menu1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    .title__arrow {
        position: absolute;
        left: 30px;
        top: 32px;
        font-size: 1.8rem;
    }
}

.image_palette {
    object-fit: cover;
    width: 100%;
    height: 18rem;
    object-position: 65%;
}

/* Header des autres menus */ /* Header des autres menus */
@media only screen  and (min-width: 700px) {
    .localisation {
        height: 80px;   
    }
    
    form {
        position: relative;
        right: 35px;
    }

    input {
        font-size: 1.2rem;
        font-weight: 500;
        height: 3rem;
        border-radius: 15px;
        text-align: center;
        background-color: white;
        outline: none;
    }

    .fa-map-marker-alt {
       visibility: hidden;
    }

    .fa-search {
        visibility: visible;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

@media only screen  and (min-width: 1024px) {
      .title2 {
        position: relative;
    }

    .title2 {
        color: white;
    }

    .photo5 {
        position: absolute;
        display: flex;
        object-fit: cover;
        width: 100%;
        height: 17rem;
    }

    .image_palette {
        height: 25rem;
    }
}
    

   


