/* Loader page d'accueil */
.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 11;
    animation: loader 3s both;
}

@keyframes loader {
    0% {
        opacity: 1;
        z-index: 11;
    }
    80%{
        opacity: 1;
        z-index: 11;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.loader__circle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top: 6px solid $color-primary;
    margin-bottom: 80px;
    animation: spin 1s linear infinite;
}

.loader__circle::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top: 6px solid $color-secondary;
    animation: spin 4s linear infinite;
}

.loader__circle::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top: 6px solid $color-tertiaire;
    animation: spin 7s linear infinite;
}

.loading {
    font-size: 2rem;
    animation: loading-color 1s infinite;
}

@keyframes loading-color {
    0% {
        color: $color-primary;
    }
    50% {
        color: $color-secondary;
    }
    100% {
        color: $color-tertiaire;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Loader page d'accueil */

/* Les coeurs des cards  */
.card__heart4 {
    position: absolute;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    right: 30px;
    bottom: 30px;
    &:hover {
        .card__heart2 {            
            animation: heart2 1s linear;
            }
        .card__heart3 {        
             animation: heart 1s linear;
            transform-origin: center;
            }
        .heart5 {
            color: transparent;
            position: absolute;
            background: linear-gradient($color-secondary, $color-primary);
            background-clip: text;
            -webkit-background-clip: text; 
        }
        .heart6 {
            visibility: visible;
        }            
    }
}


.heart6 {
    right: 0;
    bottom: 0;
    visibility: hidden;
    position: absolute;
    color: transparent;
    background: linear-gradient($color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
  }
   
@keyframes heart2 {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.8);        
    }
    70%  {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        
    }
}

@keyframes heart {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.8);        
    }
    70%  {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        
    }
}    

/* Les coeurs des menus */
.heart__menu1 {
    color: black;
}

.heart__menu2 {
    visibility: hidden;
}

.heart__menu {
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    right: 100px;
    top: 43px;
    width: 2rem;
    height: 2rem;
    &:hover {
        .heart__menu1 {
            position: absolute;
            color: transparent;
            background: linear-gradient($color-secondary, $color-primary);
            background-clip: text;
            -webkit-background-clip: text;
            animation: heart2 1s linear;
        }
        .heart__menu2 { 
            position: absolute;
            color: transparent;
            background: linear-gradient($color-secondary, $color-primary);
            background-clip: text;
            -webkit-background-clip: text;
            visibility: visible;
            animation: heart 1s linear;
        }       
    }

}    
/* L'animation des cards des menus */    
     
.card_palette:hover {
    .checkbox {
        opacity: 1; 
        transform-origin: right;
        width: 100px;
    }
    .circle {
       transform: rotate(360deg); 
    }
}   

.checkbox {
    transition: .7s ease-in-out;
}

.circle {
    transition: .7s ease-in-out;
}



.entrees2 {
    animation: entrees_animation 2s;
}

.entrees_plat {
    animation: entrees_animation 3s;
}

.entrees_dessert {
    animation: entrees_animation 4s;
}

@keyframes entrees_animation{
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* .card_palette:nth-child(2n) {
    background-color: black;
    animation: entrees_animation2 1.2s;
}

@keyframes entrees_animation2 {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
} */